# Only let the rigt users in (I see you admin/password)
AllowUsers {{ target_user }} {% if sshd_other_users != "none" %}{{ sshd_other_users }}{% endif %}

# Doh: simple seuurity rules
PermitRootLogin no
PermitEmptyPasswords no
HostbasedAuthentication no
IgnoreUserKnownHosts yes
IgnoreRhosts yes

# Whateves
PrintMotd no

# Don't cheat Fail2Ban or sshguard, but allow fallback
MaxAuthTries 2

# Allow client to pass locale environment variables
AcceptEnv LANG LC_*

# Sometimes you just have to hack yourself
AllowTcpForwarding yes
X11Forwarding yes

# Default sftp
# Subsystem	sftp	/usr/lib/openssh/sftp-server

# Allow public key, or password+otp
AuthenticationMethods publickey keyboard-interactive
PubkeyAuthentication yes
AuthorizedKeysFile	.ssh/authorized_keys
# Also allow passwords with TOTP 2nd Factor
ChallengeResponseAuthentication yes
UsePAM yes
